<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Replicants.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Replicants.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Replicants.Properties.Settings>
            <setting name="ScanDirectories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SearchPatterns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.*</string>
                        <string>*.jpg</string>
                        <string>*.mp3</string>
                        <string>*.flac</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Replicants.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Replicants.Properties.Settings>
            <setting name="SaveSettingsInterval" serializeAs="String">
                <value>2000</value>
            </setting>
        </Replicants.Properties.Settings>
    </applicationSettings>
</configuration>